/*
*  Responsive
*/
@media(min-width: 1200px){
    .row-margin-left{
        > .elementor-container{
            overflow: hidden;
            width: calc( 1200px + ((100vw - 1200px) / 2) );
            max-width: calc( 1200px + ((100vw - 1200px) / 2) ) !important;
            left: calc( (100vw - 1200px) / 4 );
            padding-right: calc( (100vw - 1200px) / 2);
            .slick-carousel{
                .slick-arrow{
                    
                }
            }
        }
    }
    .hidden-dots{
        .slick-dots{
            display: none;
        }
    }
    .xl-28{
        width: 28%;
    }
    .xl-72{
        width: 72%;
    }
    .col-xl-c5{
        width: 20%;
    }
}
@media (max-width: 1199px){
    .form-control{
        height: 48px;
    }
}
@media (max-width: 991px){
      
}
@media (max-width:767px) {
    .row{
        margin-left: -0.5rem;
        margin-right: -0.5rem;
        > [class *="col-"]:not(.elementor-column){
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }
    }
    .nav-tabs{
        overflow-x: auto;
        white-space: nowrap;
        li{
            float: none;
            display: inline-block;
        }
    }
    .ordering-display-mode-wrapper{
        margin-top: 5px;
    }
    // search property
    .form-search.horizontal{
        .list-fileds{
            > div{
                margin-bottom: $theme-margin / 2;
                &:last-child{
                    margin-bottom: 0;
                }
            }
            .btn-submit{
                width: 100%;
                margin-top: $theme-margin / 2;
            }
        }
    }
}
@media (max-width:575px) {
    
}
@media(max-width: 479px){
    .woocommerce form .woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper > * > *,
    .woocommerce form .woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper > * > .select2-container, .woocommerce form .woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper > * > select, .woocommerce form .woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper > * > input{
        width: 100% !important;
        margin: 0 0 5px !important;
    }
    .apus-filter{
        .subtitle{
            display: none;
        }
    }
    div.cmb2-wrap [id*="map_location-map"] ~ input{
        margin:0 0 5px !important;
        width: 100%;
    }
    .comment-list .comment-reply-link .text-reply::before {
        display: none;
    }
    .woocommerce-page table.cart td.actions .coupon{
        margin: 0;
        .input-text{
            margin: 0 0 1rem;
            width: 100%;
        }
    }
}
// fix admin
.admin-bar{
    @media(max-width: 782px){
        &.header_transparent{
            #apus-header{
                top: 46px;
            }
        }
        .header-mobile{
            top: 46px;
            &.sticky-header{

            }
        }
    }
}
@media(min-width: 783px){
    .admin-bar{
        .header-mobile{
            top: 32px;
        }
    }
}
@media(max-width: 600px){
    .admin-bar{
        .header-mobile.sticky-header{
            top: 0;
        }
    }
}